.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a, .dropdown-btn{
  font-family: "Lato", sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.homebtn a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: black;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main {
  margin-left: 160px;
  font-size: 28px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: gray;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.scrollbar a{
    text-decoration: none;
    margin-right: 35px;
    background-color: gray;
    color: white;
    display: block;
    border: 1px solid black;
}

.add_face input[type="text"], .add_face input[type="file"], .add_face select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add_face input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add_face input[type=submit]:hover {
  background-color: #262626;
}

.add_face{
  font-size: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.add_face p{
    text-align: center;
}

.styled-info {
  font-size: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.styled-info a, .styled-info input[type=submit]{
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: black;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-info input[type=submit]:hover {
  background-color: #262626;
}

#delete-button input[type=submit]{
  width: 100%;
  background-color: #8a0f0f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
