.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.homebtn a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  background-color: #111;
}

.main {
  margin-left: 160px;
  font-size: 28px;
}

.scrollbar a{
    text-decoration: none;
    margin-right: 35px;
    background-color: gray;
    color: white;
    display: block;
    border: 1px solid black;
}

.add_face input[class="field"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add_face input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add_face input[type=submit]:hover {
  background-color: #262626;
}

form[class="add_face"]{
  font-size: 25px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
