{% extends "base.html" %}
{% block title %}Merge Faces{% endblock %}
{% block content %}
<select form="merge-form" name="merge-from-face">
    {% for face_id, face in faces.iteritems()%}
        <option value={{face_id}}> {{face.name}} </option>
    {% endfor %}
</select>
Merge To
<select form="merge-form" name="merge-to-face">
    {% for face_id, face in faces.iteritems()%}
        <option value={{face_id}}> {{face.name}} </option>
    {% endfor %}
</select>


 <form method="post" id="merge-form">
     <input type="submit" value="Merge">
 </form>
{% endblock %}
